nav{
    position: fixed;
    top:0;
    width:100%;
}
.breadcrumb{
    background-color: #4F5060;
    border-radius:0;
}

 a,a:hover{
     color:#AEBD38;
 }

 table{
color:#68829E;
     margin:100px 10px;
 }

 thead{
     background-color : #68829E;
     color : white;
     cursor: pointer;
 }
 ion-icon{
     font-size: 24px;
     color: #68829E;
 }